Repository vtex/faststore, pull requests merged in 2021-07, with the labels that each got.

#799 fix(gatsby-source-vtex): page size
  packages/gatsby-source-vtex/src/gatsby-node.ts
  packages/gatsby-source-vtex/src/graphql/pagination/product.ts
Labels: gatsby-source-vtex

#807 feat: move status pages
  packages/gatsby-theme-store/src/index.ts
  packages/gatsby-theme-store/src/pages/404.tsx
  packages/gatsby-theme-store/src/pages/500.tsx
  packages/gatsby-theme-store/src/pages/offline.tsx
Labels: gatsby-theme-store

#805 feat(gatsby-theme-store): remove home page from theme
  packages/gatsby-theme-store/src/pages/index.tsx
  packages/gatsby-theme-store/src/views/home/AboveTheFold.tsx
  packages/gatsby-theme-store/src/views/home/BelowTheFold.tsx
  packages/gatsby-theme-store/src/views/home/BelowTheFoldPreview.tsx
  packages/gatsby-theme-store/src/views/home/SEO/__generated__/HomePageSEOQuery.graphql.ts
  packages/gatsby-theme-store/src/views/home/SEO/index.tsx
  packages/gatsby-theme-store/src/views/home/SEO/useMetadata.ts
  packages/gatsby-theme-store/src/views/home/SEO/useSiteLinksSearchBoxJsonLd.ts
Labels: gatsby-theme-store

#803 feat(gatsby-theme-store): product view
  packages/gatsby-theme-store/src/components/Seo/product/ProductSEO.tsx
  packages/gatsby-theme-store/src/index.ts
  packages/gatsby-theme-store/src/sdk/product/useProductPixel.ts
  packages/gatsby-theme-store/src/sdk/seo/product/types.ts
  packages/gatsby-theme-store/src/sdk/seo/product/useBreadcrumbJsonLd.ts
  packages/gatsby-theme-store/src/sdk/seo/product/useMetadata.ts
  packages/gatsby-theme-store/src/sdk/seo/product/useProductJsonLd.ts
  packages/gatsby-theme-store/src/views/product/AboveTheFold.tsx
  packages/gatsby-theme-store/src/views/product/AboveTheFoldPreview.tsx
  packages/gatsby-theme-store/src/views/product/BelowTheFold.tsx
  packages/gatsby-theme-store/src/views/product/BelowTheFoldPreview.tsx
  packages/gatsby-theme-store/src/views/product/SEO/__generated__/ProductPageSEOQuery.graphql.ts
  packages/gatsby-theme-store/src/views/product/SEO/__generated__/StructuredProductFragment_product.graphql.ts
  packages/gatsby-theme-store/src/views/product/SEO/index.tsx
  packages/gatsby-theme-store/src/views/product/SEO/useMetadata.ts
  packages/gatsby-theme-store/src/views/product/SEO/useProductJsonLd.ts
  packages/gatsby-theme-store/src/views/product/__generated__/AsyncProductQuery.graphql.ts
  packages/gatsby-theme-store/src/views/product/__generated__/ProductDetailsTemplate_product.graphql.ts
  packages/gatsby-theme-store/src/views/product/index.tsx
  packages/gatsby-theme-store/src/views/product/useAsyncProduct.ts
Labels: gatsby-theme-store

#811 feat(seo): Add next/prev links in search page's infinite scroll.
  packages/gatsby-theme-store/i18n/en.json
  packages/gatsby-theme-store/i18n/pt.json
  packages/gatsby-theme-store/src/components/Search/List/OverlaySpinner.tsx
  packages/gatsby-theme-store/src/components/Search/List/Page.tsx
  packages/gatsby-theme-store/src/components/Search/List/index.tsx
  packages/gatsby-theme-store/src/components/Seo/search/SearchSEO.tsx
  packages/gatsby-theme-store/src/gatsby-node.ts
  packages/gatsby-theme-store/src/index.ts
  packages/gatsby-theme-store/src/sdk/graphql/useQueryInfinite.ts
  packages/gatsby-theme-store/src/sdk/search/Provider.tsx
  packages/gatsby-theme-store/src/sdk/search/converter/useQueryVariablesFromSearchParams.ts
  packages/gatsby-theme-store/src/sdk/search/converter/useSearchParamsFromQueryVariables.ts
  packages/gatsby-theme-store/src/sdk/search/useSearchInfinite.ts
  packages/gatsby-theme-store/src/sdk/seo/search/useBreadcrumbJsonLd.tsx
  packages/gatsby-theme-store/src/sdk/seo/search/useMetadata.ts
  packages/gatsby-theme-store/src/templates/search.browser.tsx
  packages/gatsby-theme-store/src/templates/search.server.tsx
  packages/gatsby-theme-store/src/views/search/SEO/index.tsx
  packages/gatsby-theme-store/src/views/search/SEO/useBreadcrumbJsonLd.tsx
  packages/gatsby-theme-store/src/views/search/SEO/useMetadata.ts
  packages/gatsby-theme-store/src/views/search/Seo/__generated__/SearchPageSEOQuery.graphql.ts
  packages/gatsby-theme-store/src/views/search/Seo/index.tsx
  packages/gatsby-theme-store/src/views/search/index.tsx
  packages/store-sdk/src/search/reducer.ts
  packages/store-sdk/src/search/serializer.ts
  packages/store-sdk/src/search/state.ts
  packages/store-sdk/test/search/serializer.test.ts
Labels: SEO, gatsby-theme-store, store-sdk

#785 Fixing addToCart event and adding removeFromCart event (Analytics)
  packages/gatsby-plugin-google-tag-manager/src/pixel/handler.ts
  packages/gatsby-plugin-pixel-facebook/src/pixel/handler.ts
  packages/gatsby-theme-store/src/components/ProductSummary/__generated__/ProductSummary_product.graphql.ts
  packages/gatsby-theme-store/src/components/ProductSummary/index.tsx
  packages/gatsby-theme-store/src/components/Search/List/__generated__/SearchQuery.graphql.ts
  packages/gatsby-theme-store/src/index.ts
  packages/gatsby-theme-store/src/sdk/buyButton/useBuyButton.ts
  packages/gatsby-theme-store/src/sdk/orderForm/useOrderItems.tsx
  packages/gatsby-theme-store/src/sdk/orderForm/useRemoveItemWithPixel.ts
  packages/gatsby-theme-store/src/sdk/orderForm/useUpdateQuantityWithPixel.ts
  packages/gatsby-theme-store/src/sdk/pixel/events.ts
  packages/gatsby-theme-store/src/sdk/searchBar/__generated__/SuggestionsQuery.graphql.ts
  packages/gatsby-theme-store/src/sdk/shelf/__generated__/ProductRecommendationsQuery.graphql.ts
  packages/gatsby-theme-store/src/sdk/shelf/__generated__/ProductsShelfQuery.graphql.ts
  packages/store-ui/src/deprecated/Minicart/Drawer/Content/ItemInfo.tsx
  packages/store-ui/src/deprecated/Minicart/Drawer/Content/Quantity.tsx
  packages/store-ui/src/deprecated/Minicart/Drawer/Content/index.tsx
Labels: enhancement, gatsby-theme-store, store-ui

#872 fix(codesandbox): Prevent building twice
  packages/gatsby-plugin-cms/package.json
  packages/gatsby-plugin-google-tag-manager/package.json
  packages/gatsby-plugin-graphql/package.json
  packages/gatsby-plugin-i18n/package.json
  packages/gatsby-plugin-nginx/package.json
  packages/gatsby-plugin-pixel-facebook/package.json
  packages/gatsby-plugin-theme-ui/package.json
  packages/gatsby-plugin-thumbor/package.json
  packages/gatsby-source-vtex/package.json
  packages/gatsby-theme-store/package.json
Labels: enhancement

#871 feat(collections): Source collections from category tree
  packages/gatsby-plugin-cms/README.md
  packages/gatsby-plugin-cms/package.json
  packages/gatsby-plugin-cms/src/gatsby-node.ts
  packages/gatsby-plugin-cms/src/index.ts
  packages/gatsby-plugin-cms/src/native-types/blocks/collection.ts
  packages/gatsby-plugin-cms/src/native-types/blocks/seo.ts
  packages/gatsby-plugin-cms/src/native-types/blocks/sort.ts
  packages/gatsby-plugin-cms/src/native-types/contentTypes/plp.ts
  packages/gatsby-plugin-cms/src/node-api/catalog/index.ts
  packages/gatsby-plugin-cms/src/node-api/cms/fetchNodes.ts
  packages/gatsby-plugin-cms/src/node-api/cms/sourceLocalNodes.ts
  packages/gatsby-plugin-cms/src/node-api/cms/sourceNode.ts
  packages/gatsby-plugin-cms/src/node-api/cms/types.ts
  packages/gatsby-plugin-cms/src/node-api/fetchNodes.ts
  packages/gatsby-plugin-cms/src/node-api/sourceLocalNodes.ts
  packages/gatsby-plugin-cms/src/utils/barrier.ts
  packages/gatsby-plugin-cms/src/utils/fetch.ts
  packages/gatsby-source-vtex/index.js
  packages/gatsby-source-vtex/src/constants.ts
  packages/gatsby-source-vtex/src/gatsby-node.ts
  packages/gatsby-source-vtex/src/graphql/types/collection/index.ts
  packages/gatsby-source-vtex/src/graphql/types/collection/typeDefs.graphql
  packages/gatsby-source-vtex/src/index.ts
  packages/gatsby-source-vtex/src/types.ts
  yarn.lock
Labels: gatsby-plugin-cms, gatsby-source-vtex
