Repository vtex/faststore, pull requests merged in 2022-12, with the labels that each got.

#1522 feat: Adds `Tag` component
  apps/docs/docs/reference/ui/molecules/Tag.mdx
  packages/components/src/atoms/Badge/Badge.tsx
  packages/components/src/index.ts
  packages/components/src/molecules/IconButton/IconButton.tsx
  packages/components/src/molecules/Tag/Tag.tsx
  packages/components/src/molecules/Tag/index.ts
  packages/ui/src/assets/X.tsx
  packages/ui/src/assets/index.ts
  packages/ui/src/components/atoms/Badge/styles.scss
  packages/ui/src/components/molecules/Alert/stories/Alert.stories.tsx
  packages/ui/src/components/molecules/IconButton/IconButton.stories.mdx
  packages/ui/src/components/molecules/Tag/Tag.stories.mdx
  packages/ui/src/components/molecules/Tag/styles.scss
  packages/ui/src/styles/components.scss
  packages/ui/src/styles/reset.scss
Labels: ui-molecule

#1535 Docs: Adds overview section classes
  apps/docs/docs/reference/ui/atoms/Badge.mdx
  apps/docs/docs/reference/ui/atoms/Button.mdx
  apps/docs/docs/reference/ui/atoms/Checkbox.mdx
  apps/docs/docs/reference/ui/atoms/Radio.mdx
  apps/docs/docs/reference/ui/molecules/CheckboxField.mdx
  apps/docs/docs/reference/ui/molecules/IconButton.mdx
  apps/docs/docs/reference/ui/molecules/RadioField.mdx
  apps/docs/src/css/custom.css
Labels: documentation

#1531 Feat: `InputField` component
  apps/docs/docs/reference/ui/atoms/Input.mdx
  apps/docs/docs/reference/ui/molecules/InputField.mdx
  packages/components/src/index.ts
  packages/components/src/molecules/InputField/InputField.tsx
  packages/components/src/molecules/InputField/index.ts
  packages/ui/src/assets/XCircle.tsx
  packages/ui/src/assets/index.ts
  packages/ui/src/components/molecules/IconButton/IconButton.stories.mdx
  packages/ui/src/components/molecules/InputField/InputField.stories.mdx
  packages/ui/src/components/molecules/InputField/styles.scss
  packages/ui/src/styles/components.scss
Labels: ui-molecule

#1546 Feat: Adds `DiscountBadge` component
  apps/docs/docs/reference/ui/atoms/Badge.mdx
  apps/docs/docs/reference/ui/molecules/DiscountBadge.mdx
  packages/components/src/index.ts
  packages/components/src/molecules/DiscountBadge/DiscountBadge.tsx
  packages/components/src/molecules/DiscountBadge/index.ts
  packages/components/src/molecules/DiscountBadge/useDiscountPercent.ts
  packages/ui/src/components/molecules/DiscountBadge/DiscountBadge.stories.mdx
  packages/ui/src/components/molecules/DiscountBadge/styles.scss
  packages/ui/src/styles/components.scss
Labels: ui-molecule

#1548 feat: Create `Price` component
  apps/docs/docs/reference/ui/atoms/Price.mdx
  apps/docs/docs/reference/ui/molecules/Tag.mdx
  packages/components/src/atoms/Price/Price.tsx
  packages/components/src/atoms/Price/index.ts
  packages/components/src/index.ts
  packages/styles/src/atoms/index.css
  packages/styles/src/atoms/price.css
  packages/styles/src/molecules/cart-item.css
  packages/styles/src/molecules/table.css
  packages/ui/src/components/atoms/Price/stories/Price.mdx
  packages/ui/src/components/atoms/Price/stories/Price.stories.tsx
  packages/ui/src/components/atoms/Price/styles.scss
  packages/ui/src/components/molecules/Gift/stories/Gift.stories.tsx
  packages/ui/src/components/molecules/PriceRange/PriceRange.tsx
  packages/ui/src/components/molecules/ProductCard/stories/ProductCard.stories.tsx
  packages/ui/src/index.ts
  packages/ui/src/styles/components.scss
Labels: ui-atom

#1547 feat: Adds `Select` and `SelectField` components
  apps/docs/docs/reference/ui/atoms/Select.mdx
  apps/docs/docs/reference/ui/molecules/SelectField.mdx
  apps/docs/src/css/custom.css
  packages/components/src/assets/CaretDown.tsx
  packages/components/src/assets/index.ts
  packages/components/src/atoms/Select/Select.tsx
  packages/components/src/atoms/Select/index.ts
  packages/components/src/index.ts
  packages/components/src/molecules/SelectField/SelectField.tsx
  packages/components/src/molecules/SelectField/index.ts
  packages/ui/src/components/atoms/Icon/styles.scss
  packages/ui/src/components/atoms/Select/Select.tsx
  packages/ui/src/components/atoms/Select/stories/Select.mdx
  packages/ui/src/components/atoms/Select/stories/Select.stories.tsx
  packages/ui/src/components/atoms/Select/styles.scss
  packages/ui/src/components/molecules/SelectField/styles.scss
  packages/ui/src/index.ts
  packages/ui/src/styles/components.scss
Labels: ui-atom, ui-molecule

#1543 Feat: Adds `Link` component
  apps/docs/docs/reference/ui/atoms/Link.mdx
  packages/components/src/atoms/Link/Link.tsx
  packages/components/src/atoms/Link/index.ts
  packages/components/src/index.ts
  packages/components/src/typings/PolymorphicGenerics.ts
  packages/components/src/typings/index.ts
  packages/styles/src/atoms/index.css
  packages/styles/src/atoms/link.css
  packages/ui/src/components/atoms/Link/Link.stories.mdx
  packages/ui/src/components/atoms/Link/Link.tsx
  packages/ui/src/components/atoms/Link/index.tsx
  packages/ui/src/components/atoms/Link/stories/Link.mdx
  packages/ui/src/components/atoms/Link/stories/Link.stories.tsx
  packages/ui/src/components/atoms/Link/styles.scss
  packages/ui/src/components/molecules/Alert/stories/Alert.stories.tsx
  packages/ui/src/components/molecules/IconButton/IconButton.stories.mdx
  packages/ui/src/index.ts
  packages/ui/src/styles/components.scss
Labels: documentation, ui-atom

#1549 Feat: Adds `List` component
  apps/docs/docs/reference/ui/atoms/List.mdx
  apps/docs/src/css/custom.css
  packages/components/src/atoms/List/List.tsx
  packages/components/src/atoms/List/index.ts
  packages/components/src/index.ts
  packages/components/src/typings/index.ts
  packages/ui/src/components/atoms/List/List.tsx
  packages/ui/src/components/atoms/List/stories/List.mdx
  packages/ui/src/components/atoms/List/stories/List.stories.tsx
  packages/ui/src/components/atoms/List/styles.scss
  packages/ui/src/components/molecules/AggregateRating/AggregateRating.tsx
  packages/ui/src/components/molecules/Breadcrumb/Breadcrumb.tsx
  packages/ui/src/components/molecules/OrderSummary/OrderSummary.tsx
  packages/ui/src/index.ts
  packages/ui/src/styles/components.scss
Labels: ui-atom

#1555 Feat: Adds `Toggle` & `ToggleField` & `SROnly` components
  apps/docs/docs/reference/ui/atoms/SROnly.mdx
  apps/docs/docs/reference/ui/molecules/Toggle.mdx
  apps/docs/docs/reference/ui/molecules/ToggleField.mdx
  packages/components/src/assets/Checked.tsx
  packages/components/src/assets/index.ts
  packages/components/src/atoms/SROnly/SROnly.tsx
  packages/components/src/atoms/SROnly/index.ts
  packages/components/src/index.ts
  packages/components/src/molecules/Toggle/Toggle.tsx
  packages/components/src/molecules/Toggle/index.ts
  packages/components/src/molecules/ToggleField/ToggleField.tsx
  packages/components/src/molecules/ToggleField/index.ts
  packages/ui/src/components/atoms/SROnly/styles.scss
  packages/ui/src/components/molecules/Toggle/styles.scss
  packages/ui/src/components/molecules/ToggleField/styles.scss
  packages/ui/src/styles/base.scss
  packages/ui/src/styles/components.scss
Labels: ui-atom, ui-molecule

#1558 feat: Create `LinkButton` component
  apps/docs/docs/reference/ui/atoms/Button.mdx
  apps/docs/docs/reference/ui/molecules/LinkButton.mdx
  packages/components/src/atoms/List/List.tsx
  packages/components/src/index.ts
  packages/components/src/molecules/LinkButton/LinkButton.tsx
  packages/components/src/molecules/LinkButton/index.ts
  packages/ui/src/components/atoms/Button/styles.scss
  packages/ui/src/components/molecules/LinkButton/styles.scss
  packages/ui/src/styles/components.scss
Labels: ui-molecule

#1559 fix: Starter's Integration tests
  packages/components/src/molecules/SelectField/SelectField.tsx
Labels: bug

#1556 Feat: Adds `Hero` component
  apps/docs/docs/reference/ui/organisms/Hero.mdx
  apps/docs/src/css/custom.css
  packages/components/src/assets/ArrowRight.tsx
  packages/components/src/assets/House.tsx
  packages/components/src/assets/index.ts
  packages/components/src/index.ts
  packages/components/src/organisms/Hero/Hero.tsx
  packages/components/src/organisms/Hero/HeroHeading.tsx
  packages/components/src/organisms/Hero/HeroImage.tsx
  packages/components/src/organisms/Hero/index.tsx
  packages/styles/src/organisms/hero.css
  packages/styles/src/organisms/index.css
  packages/ui/src/components/organisms/Hero/Hero.tsx
  packages/ui/src/components/organisms/Hero/HeroHeading.tsx
  packages/ui/src/components/organisms/Hero/stories/Hero.mdx
  packages/ui/src/components/organisms/Hero/stories/Hero.stories.tsx
  packages/ui/src/components/organisms/Hero/styles.scss
  packages/ui/src/index.ts
  packages/ui/src/styles/components.scss
Labels: ui-organism

#1554 Feat: Adds `Table` component
  apps/docs/docs/reference/ui/molecules/Table.mdx
  apps/docs/src/css/custom.css
  packages/components/src/assets/Ruler.tsx
  packages/components/src/assets/index.ts
  packages/components/src/index.ts
  packages/components/src/molecules/Table/Table.tsx
  packages/components/src/molecules/Table/TableBody.tsx
  packages/components/src/molecules/Table/TableCell.tsx
  packages/components/src/molecules/Table/TableFooter.tsx
  packages/components/src/molecules/Table/TableHead.tsx
  packages/components/src/molecules/Table/TableRow.tsx
  packages/components/src/molecules/Table/index.ts
  packages/styles/src/molecules/index.css
  packages/styles/src/molecules/table.css
  packages/ui/src/components/molecules/Table/stories/Table.mdx
  packages/ui/src/components/molecules/Table/stories/Table.stories.tsx
  packages/ui/src/components/molecules/Table/styles.scss
  packages/ui/src/index.ts
  packages/ui/src/styles/components.scss
Labels: ui-molecule

#1570 Fix: Adds Badge props to `DiscountBadge` + Fixes SelectField testId
  apps/docs/docs/reference/ui/molecules/DiscountBadge.mdx
  packages/components/src/molecules/DiscountBadge/DiscountBadge.tsx
  packages/components/src/molecules/SelectField/SelectField.tsx
Labels: bug, ui-molecule
