Repository vtex/faststore, pull requests merged in 2022-11, with the labels that each got.

#1496 feat: radio component
  .codesandbox/ci.json
  packages/components/package.json
  packages/components/src/atoms/Radio/Radio.tsx
  packages/components/src/atoms/Radio/index.ts
  packages/components/src/index.ts
  packages/components/tsconfig.json
  packages/ui/.storybook/main.js
  packages/ui/.storybook/preview.js
  packages/ui/package.json
  packages/ui/src/components/atoms/Radio/stories/Radio.mdx
  packages/ui/src/components/atoms/Radio/stories/Radio.stories.mdx
  packages/ui/src/components/atoms/Radio/stories/Radio.stories.tsx
  packages/ui/src/components/atoms/Radio/styles.scss
  packages/ui/src/components/molecules/RadioGroup/RadioOption.tsx
  packages/ui/src/index.ts
  packages/ui/src/styles/components.scss
  packages/ui/src/styles/global.scss
  yarn.lock
Labels: ui-atom

#1505 docs: Debugging Releases and CMS publishing
  apps/docs/docs/how-to-guides/troubleshooting/debugging-releases-publishing.mdx
Labels: documentation

#1501 Feat: `Icon` component
  packages/components/src/atoms/Icon/Icon.tsx
  packages/components/src/atoms/Icon/index.ts
  packages/components/src/index.ts
  packages/ui/src/components/atoms/Icon/stories/Icon.mdx
  packages/ui/src/components/atoms/Icon/stories/Icon.stories.tsx
  packages/ui/src/components/atoms/Icon/stories/assets/ShoppingCart.tsx
  packages/ui/src/components/molecules/Card/stories/Card.stories.tsx
  packages/ui/src/components/molecules/Gift/Gift.tsx
  packages/ui/src/components/molecules/IconButton/IconButton.tsx
  packages/ui/src/components/molecules/SearchInput/SearchInput.tsx
  packages/ui/src/index.ts
Labels: ui-atom

#1476 feat: Revisit `Carousel` component
  packages/styles/src/molecules/bullets.css
  packages/styles/src/molecules/carousel.css
  packages/ui/package.json
  packages/ui/src/hooks/useSlider/useSlider.ts
  packages/ui/src/molecules/Bullets/Bullets.test.tsx
  packages/ui/src/molecules/Bullets/Bullets.tsx
  packages/ui/src/molecules/Bullets/stories/Bullets.mdx
  packages/ui/src/molecules/Carousel/Carousel.test.tsx
  packages/ui/src/molecules/Carousel/Carousel.tsx
  packages/ui/src/molecules/Carousel/CarouselItem.tsx
  packages/ui/src/molecules/Carousel/stories/Carousel.mdx
  packages/ui/src/molecules/Carousel/stories/Carousel.stories.tsx
  yarn.lock
Labels: enhancement, store-ui, starter

#1510 Feat: Adds `Label` component
  apps/docs/docs/reference/ui/atoms/Label.mdx
  packages/components/src/atoms/Label/Label.tsx
  packages/components/src/atoms/Label/index.ts
  packages/components/src/index.ts
  packages/styles/src/atoms/index.css
  packages/styles/src/atoms/label.css
  packages/ui/src/components/atoms/Label/stories/Label.mdx
  packages/ui/src/components/atoms/Label/stories/Label.stories.mdx
  packages/ui/src/components/atoms/Label/stories/Label.stories.tsx
  packages/ui/src/components/atoms/Radio/stories/Radio.stories.mdx
  packages/ui/src/components/molecules/Form/stories/Form.stories.tsx
  packages/ui/src/components/molecules/SkuSelector/SkuSelector.tsx
  packages/ui/src/index.ts
Labels: documentation, ui-atom

#1502 Feat: `Badge` Component
  apps/docs/docs/reference/ui/atoms/Badge.mdx
  packages/components/src/atoms/Badge/Badge.tsx
  packages/components/src/atoms/Badge/index.ts
  packages/components/src/index.ts
  packages/styles/src/atoms/badge.css
  packages/styles/src/atoms/index.css
  packages/ui/src/components/atoms/Badge/Badge.tsx
  packages/ui/src/components/atoms/Badge/stories/Badge.mdx
  packages/ui/src/components/atoms/Badge/stories/Badge.stories.mdx
  packages/ui/src/components/atoms/Badge/stories/Badge.stories.tsx
  packages/ui/src/components/atoms/Badge/styles.scss
  packages/ui/src/components/molecules/Gift/stories/Gift.stories.tsx
  packages/ui/src/components/molecules/ProductCard/stories/ProductCard.stories.tsx
  packages/ui/src/components/molecules/ProductTitle/stories/ProductTitle.stories.tsx
  packages/ui/src/index.ts
  packages/ui/src/styles/components.scss
Labels: ui-atom

#1500 feat: adds develop command when running faststore dev
  .codesandbox/ci.json
  packages/cli/src/commands/dev.ts
  packages/cli/src/utils/directory.ts
  packages/cli/src/utils/generate.ts
Labels: enhancement

#1506 Feat: add build command
  packages/cli/src/commands/build.ts
Labels: enhancement

#1511 feat: adds start command to serve stores
  packages/cli/src/commands/start.ts
Labels: enhancement

#1513 Feat: Adds `RadioField` component
  apps/docs/docs/reference/ui/atoms/Label.mdx
  apps/docs/docs/reference/ui/atoms/Radio.mdx
  apps/docs/docs/reference/ui/molecules/RadioField.mdx
  packages/components/src/index.ts
  packages/components/src/molecules/RadioField/RadioField.tsx
  packages/components/src/molecules/RadioField/index.ts
  packages/ui/src/components/molecules/RadioField/RadioField.stories.mdx
  packages/ui/src/components/molecules/RadioField/styles.scss
  packages/ui/src/styles/components.scss
Labels: ui-molecule

#1504 Feat: `Checkbox` component.
  apps/docs/docs/reference/ui/atoms/Checkbox.mdx
  packages/components/src/atoms/Checkbox/Checkbox.tsx
  packages/components/src/atoms/Checkbox/index.ts
  packages/components/src/index.ts
  packages/ui/.storybook/preview.js
  packages/ui/src/components/atoms/Checkbox/stories/Checkbox.mdx
  packages/ui/src/components/atoms/Checkbox/stories/Checkbox.stories.tsx
  packages/ui/src/components/atoms/Checkbox/styles.scss
  packages/ui/src/components/molecules/Form/stories/Form.stories.tsx
  packages/ui/src/index.ts
  packages/ui/src/styles/components.scss
Labels: store-ui, ui-atom, depends on

#1517 docs: add (wip) styling section
  apps/docs/docs/how-to-guides/styling/styling-components.md
  apps/docs/docs/how-to-guides/theming.md
  apps/docs/docs/how-to-guides/theming/creating-a-theme.mdx
  apps/docs/docs/how-to-guides/theming/extending-a-theme.mdx
  apps/docs/docs/how-to-guides/theming/global-tokens.mdx
  apps/docs/docs/how-to-guides/theming/global-tokens/colors.mdx
  apps/docs/docs/how-to-guides/theming/global-tokens/grid-and-layout.mdx
  apps/docs/docs/how-to-guides/theming/global-tokens/interactive-controls.mdx
  apps/docs/docs/how-to-guides/theming/global-tokens/refinements.mdx
  apps/docs/docs/how-to-guides/theming/global-tokens/spacing.mdx
  apps/docs/docs/how-to-guides/theming/global-tokens/typography.mdx
  apps/docs/docs/how-to-guides/theming/themes/midnight.mdx
  apps/docs/docs/how-to-guides/theming/themes/soft-blue.mdx
  apps/docs/docusaurus.config.js
  apps/docs/package.json
  apps/docs/sidebars.js
  apps/docs/src/components/ColorPalette/ColorPalette.tsx
  apps/docs/src/components/TokensTable/Table.module.css
  apps/docs/src/components/TokensTable/Table.tsx
  apps/docs/src/components/TokensTable/TokensTable.tsx
  apps/docs/src/css/custom.css
  apps/docs/tailwind.config.js
Labels: documentation
