Repository vtex/faststore, pull requests merged in 2023-01, with the labels that each got.

#1561 feat: new site to documentation
  .eslintignore
  .gitignore
  apps/docs/CHANGELOG.md
  apps/docs/docs/reference/ui/atoms/Badge.mdx
  apps/docs/docs/reference/ui/atoms/Button.mdx
  apps/docs/docs/reference/ui/atoms/Checkbox.mdx
  apps/docs/docs/reference/ui/atoms/Input.mdx
  apps/docs/docs/reference/ui/atoms/Label.mdx
  apps/docs/docs/reference/ui/atoms/Link.mdx
  apps/docs/docs/reference/ui/atoms/List.mdx
  apps/docs/docs/reference/ui/atoms/Overlay.mdx
  apps/docs/docs/reference/ui/atoms/Price.mdx
  apps/docs/docs/reference/ui/atoms/Radio.mdx
  apps/docs/docs/reference/ui/atoms/Select.mdx
  apps/docs/docs/reference/ui/molecules/IconButton.mdx
  apps/docs/docs/reference/ui/molecules/LoadingButton.mdx
  apps/docs/docs/reference/ui/molecules/Modal.mdx
  apps/docs/docs/reference/ui/molecules/SearchInput.mdx
  apps/docs/docs/reference/ui/molecules/Table.mdx
  apps/docs/docs/reference/ui/organisms/Hero.mdx
  apps/docs/docs/templates/ui-components.md
  apps/docs/docs/tutorials/cms/02 - Setting up the VTEX Headless CMS in your FastStore project.md
  apps/docs/docusaurus.config.js
  apps/docs/package.json
  apps/docs/src/css/custom.css
  apps/docs/src/theme/ReactLiveScope/index.tsx
  apps/site/.eslintrc.json
  apps/site/components/Tokens/TokenDivider.module.css
  apps/site/components/Tokens/TokenDivider.tsx
  apps/site/components/Tokens/TokenRow.tsx
  apps/site/components/Tokens/TokenTable.module.css
  apps/site/components/Tokens/TokenTable.tsx
  apps/site/components/Tokens/index.ts
  apps/site/next-env.d.ts
  apps/site/next.config.js
  apps/site/package.json
  apps/site/pages/_app.tsx
  apps/site/pages/_meta.json
  apps/site/pages/components/_meta.json
  apps/site/pages/components/atoms/button.mdx
  apps/site/pages/components/index.mdx
  apps/site/pages/docs/_meta.json
  apps/site/pages/docs/index.mdx
  apps/site/pages/index.mdx
  apps/site/theme.config.tsx
  apps/site/tsconfig.json
  yarn.lock
Labels: documentation

#1575 Docs: Updates Components `mdx` files and General Adjusts
  apps/site/components/OverviewSection/OverviewSection.module.css
  apps/site/components/OverviewSection/OverviewSection.tsx
  apps/site/components/OverviewSection/OverviewSectionItem.tsx
  apps/site/components/OverviewSection/index.ts
  apps/site/components/PropsSection/PropsSection.tsx
  apps/site/components/PropsSection/index.ts
  apps/site/components/SectionItem/SectionItem.module.css
  apps/site/components/SectionItem/SectionItem.tsx
  apps/site/components/SectionItem/SectionList.tsx
  apps/site/components/SectionItem/index.ts
  apps/site/components/Tokens/TokenDivider.module.css
  apps/site/components/Tokens/TokenDivider.tsx
  apps/site/components/Tokens/TokenTable.module.css
  apps/site/pages/_app.tsx
  apps/site/pages/components/atoms/badge.mdx
  apps/site/pages/components/atoms/button.mdx
  apps/site/pages/components/atoms/checkbox.mdx
  apps/site/pages/components/atoms/input.mdx
  apps/site/pages/components/atoms/label.mdx
  apps/site/pages/components/atoms/link.mdx
  apps/site/pages/components/atoms/list.mdx
  apps/site/pages/components/atoms/overlay.mdx
  apps/site/pages/components/atoms/price.mdx
  apps/site/pages/components/atoms/radio.mdx
  apps/site/pages/components/atoms/select.mdx
  apps/site/pages/components/atoms/sr-only.mdx
  apps/site/pages/components/molecules/buy-button.mdx
  apps/site/pages/components/molecules/checkbox-field.mdx
  apps/site/pages/components/molecules/discount-badge.mdx
  apps/site/pages/components/molecules/icon-button.mdx
  apps/site/pages/components/molecules/input-field.mdx
  apps/site/pages/components/molecules/link-button.mdx
  apps/site/pages/components/molecules/radio-field.mdx
  apps/site/pages/components/molecules/select-field.mdx
  apps/site/pages/components/molecules/table.mdx
  apps/site/pages/components/molecules/tag.mdx
  apps/site/pages/components/molecules/toggle-field.mdx
  apps/site/pages/components/molecules/toggle.mdx
  apps/site/pages/custom-nextra.css
  apps/site/pages/index.mdx
  apps/site/theme.config.tsx
  packages/ui/src/components/atoms/Button/styles.scss
Labels: documentation

#1587 Chore: Updates `Table` Colored Variant
  apps/site/pages/components/molecules/table.mdx
  packages/ui/src/components/molecules/Table/styles.scss
Labels: enhancement

#1588 fix: `OrderSummary` and `AggregateRating` interfaces
  packages/ui/src/components/molecules/AggregateRating/AggregateRating.tsx
  packages/ui/src/components/molecules/OrderSummary/OrderSummary.tsx
Labels: bug

#1567 Feat: Adds `Accordion` component
  apps/site/pages/components/molecules/accordion.mdx
  apps/site/pages/index.mdx
  packages/components/src/assets/MinusCircle.tsx
  packages/components/src/assets/PlusCircle.tsx
  packages/components/src/assets/Ruler.tsx
  packages/components/src/assets/index.ts
  packages/components/src/index.ts
  packages/components/src/molecules/Accordion/Accordion.tsx
  packages/components/src/molecules/Accordion/AccordionButton.tsx
  packages/components/src/molecules/Accordion/AccordionItem.tsx
  packages/components/src/molecules/Accordion/AccordionPanel.tsx
  packages/components/src/molecules/Accordion/index.ts
  packages/ui/src/components/molecules/Accordion/styles.scss
  packages/ui/src/index.ts
  packages/ui/src/styles/components.scss
Labels: ui-molecule

#1598 Docs: Adds `Hero` component doc + Updates docs overview section
  apps/site/pages/components/atoms/button.mdx
  apps/site/pages/components/atoms/label.mdx
  apps/site/pages/components/atoms/select.mdx
  apps/site/pages/components/molecules/checkbox-field.mdx
  apps/site/pages/components/molecules/discount-badge.mdx
  apps/site/pages/components/molecules/input-field.mdx
  apps/site/pages/components/molecules/radio-field.mdx
  apps/site/pages/components/molecules/select-field.mdx
  apps/site/pages/components/molecules/tag.mdx
  apps/site/pages/components/molecules/toggle-field.mdx
  apps/site/pages/components/molecules/toggle.mdx
  apps/site/pages/components/organisms/hero.mdx
Labels: documentation

#1572 Feat: Adds `Dropdown` component
  apps/site/pages/components/molecules/dropdown.mdx
  packages/components/src/assets/ArrowElbowDownRight.tsx
  packages/components/src/assets/index.ts
  packages/components/src/index.ts
  packages/components/src/molecules/Dropdown/Dropdown.tsx
  packages/components/src/molecules/Dropdown/DropdownButton.tsx
  packages/components/src/molecules/Dropdown/DropdownItem.tsx
  packages/components/src/molecules/Dropdown/DropdownMenu.tsx
  packages/components/src/molecules/Dropdown/contexts/DropdownContext.ts
  packages/components/src/molecules/Dropdown/hooks/useDropdown.ts
  packages/components/src/molecules/Dropdown/hooks/useDropdownPosition.ts
  packages/components/src/molecules/Dropdown/index.ts
  packages/ui/src/base/tokens.scss
  packages/ui/src/components/molecules/Dropdown/styles.scss
  packages/ui/src/index.ts
  packages/ui/src/styles/components.scss
Labels: ui-molecule

#1592 chore: `Table` component's improvements
  packages/components/src/molecules/Table/Table.tsx
  packages/components/src/molecules/Table/TableBody.tsx
  packages/components/src/molecules/Table/TableCell.tsx
  packages/components/src/molecules/Table/TableFooter.tsx
  packages/components/src/molecules/Table/TableHead.tsx
  packages/components/src/molecules/Table/TableRow.tsx
Labels: bug

#1601 fix: revert table props and adds new props (types mismatch)
  packages/components/src/molecules/Table/Table.tsx
Labels: bug

#1596 feat: Add support to `shouldSplitItem` param in `validateCart` mutation
  packages/api/mocks/ValidateCartMutation.ts
  packages/api/src/__generated__/schema.ts
  packages/api/src/platforms/vtex/clients/commerce/index.ts
  packages/api/src/platforms/vtex/resolvers/validateCart.ts
  packages/api/src/typeDefs/cart.graphql
  packages/api/src/typeDefs/order.graphql
Labels: enhancement, store-api

#1597 Feat: Adds `QuantitySelector` component
  apps/site/pages/components/molecules/quantity-selector.mdx
  packages/components/src/assets/Minus.tsx
  packages/components/src/assets/Plus.tsx
  packages/components/src/assets/index.ts
  packages/components/src/index.ts
  packages/components/src/molecules/QuantitySelector/QuantitySelector.tsx
  packages/components/src/molecules/QuantitySelector/index.ts
  packages/ui/src/components/molecules/QuantitySelector/QuantitySelector.tsx
  packages/ui/src/components/molecules/QuantitySelector/styles.scss
  packages/ui/src/index.ts
  packages/ui/src/styles/components.scss
Labels: documentation, ui-molecule

#1590 Feat: Adds `Alert` Component
  apps/site/pages/components/molecules/alert.mdx
  packages/components/src/index.ts
  packages/components/src/molecules/Alert/Alert.tsx
  packages/components/src/molecules/Alert/index.ts
  packages/ui/src/components/molecules/Alert/Alert.tsx
  packages/ui/src/components/molecules/Alert/styles.scss
  packages/ui/src/index.ts
  packages/ui/src/styles/components.scss
Labels: ui-molecule

#1603 chore: updates cms folder for faststore builder
  packages/cli/src/utils/directory.ts
Labels: depends on

#1604 Feat: Adds `RadioGroup` component
  apps/site/pages/components/molecules/radio-group.mdx
  packages/components/src/index.ts
  packages/components/src/molecules/RadioGroup/RadioGroup.tsx
  packages/components/src/molecules/RadioGroup/RadioOption.tsx
  packages/components/src/molecules/RadioGroup/index.tsx
  packages/components/src/molecules/RadioGroup/useRadioGroup.ts
  packages/ui/src/components/molecules/SkuSelector/SkuSelector.tsx
  packages/ui/src/index.ts
Labels: ui-molecule

#1610 Feat: Adds `Gift` component
  apps/site/pages/components/molecules/gift.mdx
  packages/components/src/assets/TagIcon.tsx
  packages/components/src/assets/index.ts
  packages/components/src/index.ts
  packages/components/src/molecules/Gift/Gift.tsx
  packages/components/src/molecules/Gift/GiftContent.tsx
  packages/components/src/molecules/Gift/GiftImage.tsx
  packages/components/src/molecules/Gift/index.tsx
  packages/ui/src/components/molecules/Gift/styles.scss
  packages/ui/src/index.ts
  packages/ui/src/styles/components.scss
Labels: ui-molecule

#1611 Feat: Adds `LoadingButton` and `Loader` component
  apps/site/components/Button/ButtonLoading.tsx
  apps/site/components/OverviewSection/OverviewSection.module.css
  apps/site/pages/components/atoms/button.mdx
  apps/site/pages/components/atoms/loader.mdx
  apps/site/pages/components/molecules/rating.mdx
  packages/components/src/atoms/Button/Button.tsx
  packages/components/src/atoms/Loader/Loader.tsx
  packages/components/src/atoms/Loader/index.ts
  packages/components/src/index.ts
  packages/components/src/molecules/BuyButton/BuyButton.tsx
  packages/ui/src/components/atoms/Button/styles.scss
  packages/ui/src/components/atoms/Loader/styles.scss
  packages/ui/src/components/atoms/Spinner/Spinner.tsx
  packages/ui/src/components/atoms/Spinner/index.tsx
  packages/ui/src/components/molecules/LoadingButton/LoadingButton.tsx
  packages/ui/src/components/molecules/LoadingButton/index.tsx
  packages/ui/src/index.ts
  packages/ui/src/styles/components.scss
Labels: documentation, ui-atom

#1605 Feat: Adds `Slider` & `PriceRange` component
  apps/site/components/PriceRange/PriceRangeUsage.tsx
  apps/site/components/PriceRange/usePriceFormatter.ts
  apps/site/pages/components/atoms/slider.mdx
  apps/site/pages/components/organisms/price-range.mdx
  packages/components/src/atoms/Slider/Slider.tsx
  packages/components/src/atoms/Slider/index.ts
  packages/components/src/index.ts
  packages/components/src/organisms/PriceRange/PriceRange.tsx
  packages/components/src/organisms/PriceRange/index.ts
  packages/ui/src/components/atoms/Slider/Slider.tsx
  packages/ui/src/components/atoms/Slider/styles.scss
  packages/ui/src/components/molecules/PriceRange/PriceRange.tsx
  packages/ui/src/components/organisms/PriceRange/styles.scss
  packages/ui/src/index.ts
  packages/ui/src/styles/components.scss
Labels: documentation, ui-atom, ui-organism

#1617 Chore: Extracts priceFormatter hook
  apps/site/components/PriceRange/PriceRangeUsage.tsx
  apps/site/components/utilities/usePriceFormatter.ts
  apps/site/pages/components/atoms/slider.mdx
  apps/site/pages/components/molecules/gift.mdx
  apps/site/pages/components/molecules/table.mdx
Labels: documentation

#1616 Feat: Adds `Skeleton` Component
  apps/site/pages/components/atoms/skeleton.mdx
  packages/components/src/atoms/Skeleton/Skeleton.tsx
  packages/components/src/atoms/Skeleton/index.ts
  packages/components/src/index.ts
  packages/ui/src/components/atoms/Badge/styles.scss
  packages/ui/src/components/atoms/Skeleton/Skeleton.tsx
  packages/ui/src/components/atoms/Skeleton/styles.scss
  packages/ui/src/components/molecules/DiscountBadge/styles.scss
  packages/ui/src/index.ts
  packages/ui/src/styles/components.scss
Labels: ui-atom
