Repository vtex/faststore, pull requests merged in 2023-04, with the labels that each got.

#1693 Feat: Adds `RegionBar` component
  apps/site/pages/components/_meta.json
  apps/site/pages/components/features/region.mdx
  apps/site/pages/components/features/search.mdx
  apps/site/pages/components/molecules/region-bar.mdx
  apps/site/pages/docs/icons.mdx
  packages/components/src/assets/CaretRight.tsx
  packages/components/src/assets/MapPin.tsx
  packages/components/src/assets/index.ts
  packages/components/src/index.ts
  packages/components/src/molecules/RegionBar/RegionBar.tsx
  packages/components/src/molecules/RegionBar/index.ts
  packages/core/src/Layout.tsx
  packages/core/src/components/common/Navbar/NavLinks.tsx
  packages/core/src/components/region/Region.stories.mdx
  packages/core/src/components/region/RegionBar/RegionBar.tsx
  packages/core/src/components/region/RegionBar/index.ts
  packages/core/src/components/region/RegionButton/RegionButton.tsx
  packages/core/src/components/region/RegionButton/index.ts
  packages/core/src/components/region/RegionInput/RegionInput.tsx
  packages/core/src/components/region/RegionInput/index.ts
  packages/core/src/components/region/RegionModal/RegionalizationModal.stories.mdx
  packages/core/src/components/region/RegionModal/RegionalizationModal.tsx
  packages/core/src/components/region/RegionModal/RegionalizationModalContent.tsx
  packages/core/src/components/region/RegionModal/index.ts
  packages/core/src/components/region/RegionModal/regionalization-modal-body.module.scss
  packages/core/src/components/regionalization/RegionalizationBar/RegionalizationBar.stories.mdx
  packages/core/src/components/regionalization/RegionalizationBar/RegionalizationBar.tsx
  packages/core/src/components/regionalization/RegionalizationBar/index.ts
  packages/core/src/components/regionalization/RegionalizationBar/regionalization-bar.module.scss
  packages/core/src/components/regionalization/RegionalizationButton/index.ts
  packages/core/src/components/regionalization/RegionalizationInput/index.ts
  packages/ui/src/components/molecules/RegionBar/styles.scss
  packages/ui/src/styles/components.scss
Labels: ui-molecule

#1704 Feat: Adds `CartSidebar` and `OrderSummary`
  apps/site/components/CartSidebar/CartSidebarUsage.tsx
  apps/site/pages/components/molecules/order-summary.mdx
  apps/site/pages/components/molecules/search-auto-complete.mdx
  apps/site/pages/components/molecules/sku-selector.mdx
  apps/site/pages/components/molecules/toast.mdx
  apps/site/pages/components/organisms/cart-sidebar.mdx
  apps/site/pages/components/organisms/filter-slider.mdx
  apps/site/pages/components/organisms/filter.mdx
  apps/site/pages/components/organisms/slide-over.mdx
  packages/components/src/index.ts
  packages/components/src/molecules/OrderSummary/OrderSummary.tsx
  packages/components/src/molecules/OrderSummary/index.tsx
  packages/components/src/organisms/CartSidebar/CartSidebar.tsx
  packages/components/src/organisms/CartSidebar/CartSidebarFooter.tsx
  packages/components/src/organisms/CartSidebar/CartSidebarList.tsx
  packages/components/src/organisms/CartSidebar/index.ts
  packages/components/src/organisms/SlideOver/SlideOver.tsx
  packages/core/cypress/integration/analytics.test.js
  packages/core/cypress/integration/cart.test.js
  packages/core/src/components/cart/CartItem/CartItem.stories.mdx
  packages/core/src/components/cart/CartSidebar/CartSidebar.stories.mdx
  packages/core/src/components/cart/CartSidebar/CartSidebar.tsx
  packages/core/src/components/cart/OrderSummary/OrderSummary.tsx
  packages/core/src/components/cart/OrderSummary/order-summary.module.scss
  packages/ui/src/components/molecules/OrderSummary/styles.scss
  packages/ui/src/components/organisms/CartSidebar/styles.scss
  packages/ui/src/index.ts
  packages/ui/src/styles/components.scss
Labels: ui-molecule, ui-organism

#1681 Feat: Add `ImageGallery` components
  apps/site/components/ImageGallery/ImageGalleryUsage.tsx
  apps/site/components/PropsSection/props-section.module.css
  apps/site/components/Search/SearchDropdownUsage.tsx
  apps/site/pages/components/atoms/badge.mdx
  apps/site/pages/components/atoms/checkbox.mdx
  apps/site/pages/components/organisms/image-gallery.mdx
  packages/components/src/atoms/Button/Button.tsx
  packages/components/src/index.ts
  packages/components/src/organisms/ImageGallery/ImageGallery.tsx
  packages/components/src/organisms/ImageGallery/ImageGallerySelector.tsx
  packages/components/src/organisms/ImageGallery/ImageZoom.tsx
  packages/components/src/organisms/ImageGallery/index.ts
  packages/core/src/components/sections/ProductDetails/ProductDetails.tsx
  packages/core/src/components/ui/ImageGallery/ImageGallery.stories.mdx
  packages/core/src/components/ui/ImageGallery/ImageGallery.tsx
  packages/core/src/components/ui/ImageGallery/ImageGallerySelector.tsx
  packages/core/src/components/ui/ImageGallery/image-gallery-selector.module.scss
  packages/core/src/components/ui/ImageGallery/image-gallery.module.scss
  packages/core/src/components/ui/ImageGallery/index.ts
  packages/ui/src/components/organisms/ImageGallery/styles.scss
  packages/ui/src/styles/components.scss
Labels: ui-organism

#1710 Feat: Adds `RegionModal` component
  apps/site/pages/components/features/region.mdx
  apps/site/pages/components/features/regionalization.mdx
  apps/site/pages/components/molecules/region-bar.mdx
  apps/site/pages/components/organisms/region-modal.mdx
  packages/components/src/index.ts
  packages/components/src/molecules/Modal/ModalHeader.tsx
  packages/components/src/organisms/RegionModal/RegionModal.tsx
  packages/components/src/organisms/RegionModal/index.ts
  packages/components/src/organisms/ShippingSimulation/ShippingSimulation.tsx
  packages/core/src/components/common/Navbar/navlinks.module.scss
  packages/core/src/components/region/Region.stories.mdx
  packages/core/src/components/region/RegionButton/RegionButton.tsx
  packages/core/src/components/region/RegionInput/index.ts
  packages/core/src/components/region/RegionModal/RegionModal.tsx
  packages/core/src/components/region/RegionModal/RegionalizationModal.stories.mdx
  packages/core/src/components/region/RegionModal/RegionalizationModal.tsx
  packages/core/src/components/region/RegionModal/RegionalizationModalContent.tsx
  packages/core/src/components/region/RegionModal/index.ts
  packages/core/src/components/region/RegionModal/regionalization-modal-body.module.scss
  packages/ui/src/components/organisms/RegionModal/styles.scss
  packages/ui/src/styles/components.scss
Labels: ui-organism, evergreen

#1716 Feat: Adds `EmptyState` component
  apps/site/pages/components/organisms/empty-state.mdx
  apps/site/pages/components/organisms/shipping-simulation.mdx
  packages/components/src/index.ts
  packages/components/src/molecules/ProductTitle/ProductTitle.tsx
  packages/components/src/organisms/CartSidebar/CartSidebar.tsx
  packages/components/src/organisms/EmptyState/EmptyState.tsx
  packages/components/src/organisms/EmptyState/index.ts
  packages/core/src/components/cart/EmptyCart/EmptyCart.tsx
  packages/core/src/components/sections/ProductGallery/EmptyGallery.tsx
  packages/core/src/components/sections/ProductGallery/product-gallery.module.scss
  packages/core/src/components/ui/EmptyState/EmptyState.stories.mdx
  packages/core/src/components/ui/EmptyState/EmptyState.tsx
  packages/core/src/components/ui/EmptyState/index.ts
  packages/core/src/pages/404.tsx
  packages/core/src/pages/login.tsx
  packages/ui/src/components/organisms/EmptyState/styles.scss
  packages/ui/src/styles/components.scss
Labels: ui-organism, evergreen

#1713 Feat: Add `ProductShelf` component
  apps/site/components/SectionItem/section-item.module.css
  apps/site/pages/components/molecules/product-card.mdx
  apps/site/pages/components/organisms/product-shelf.mdx
  packages/components/src/index.ts
  packages/components/src/organisms/ProductShelf/ProductShelf.tsx
  packages/components/src/organisms/ProductShelf/ProductShelfItem.tsx
  packages/components/src/organisms/ProductShelf/ProductShelfItems.tsx
  packages/components/src/organisms/ProductShelf/index.ts
  packages/core/src/components/sections/ProductShelf/ProductShelf.tsx
  packages/core/src/components/skeletons/ProductShelfSkeleton/ProductShelfSkeleton.tsx
  packages/core/src/styles/global/layout.scss
  packages/ui/src/components/organisms/ProductShelf/styles.scss
  packages/ui/src/styles/components.scss
Labels: ui-organism

#1714 Doc: FastStore Onboarding
  apps/site/pages/docs/_meta.json
  apps/site/pages/docs/getting-started/getting-started-overview.mdx
  apps/site/pages/docs/getting-started/next-steps.mdx
  apps/site/pages/docs/getting-started/onboarding.mdx
  apps/site/pages/docs/getting-started/project-structure.mdx
  apps/site/pages/docs/getting-started/settingup-project.mdx
Labels: documentation

#1720 feat: Adds `Navbar` component
  apps/site/components/Navigation/NavbarLinksUsage.tsx
  apps/site/components/Navigation/NavbarSliderUsage.tsx
  apps/site/components/Navigation/NavbarUsage.tsx
  apps/site/components/Search/SearchInputUsage.tsx
  apps/site/pages/components/features/navigation.mdx
  apps/site/pages/components/molecules/navbar-links.mdx
  apps/site/pages/components/molecules/navbar-slider.mdx
  apps/site/pages/components/organisms/navbar.mdx
  packages/components/src/hooks/index.ts
  packages/components/src/hooks/useScrollDirection.ts
  packages/components/src/hooks/useSearch.ts
  packages/components/src/index.ts
  packages/components/src/molecules/NavbarLinks/NavbarLinks.tsx
  packages/components/src/molecules/NavbarLinks/index.ts
  packages/components/src/molecules/NavbarSlider/NavbarSlider.tsx
  packages/components/src/molecules/NavbarSlider/NavbarSliderContent.tsx
  packages/components/src/molecules/NavbarSlider/NavbarSliderFooter.tsx
  packages/components/src/molecules/NavbarSlider/NavbarSliderHeader.tsx
  packages/components/src/molecules/NavbarSlider/index.ts
  packages/components/src/organisms/Navbar/Navbar.tsx
  packages/components/src/organisms/Navbar/NavbarButtons.tsx
  packages/components/src/organisms/Navbar/NavbarHeader.tsx
  packages/components/src/organisms/Navbar/NavbarRow.tsx
  packages/components/src/organisms/Navbar/index.ts
  packages/core/src/Layout.tsx
  packages/core/src/components/common/Navbar/NavLinks.stories.mdx
  packages/core/src/components/common/Navbar/Navbar.stories.mdx
  packages/core/src/components/common/Navbar/NavbarSlider.stories.mdx
  packages/core/src/components/common/Navbar/index.ts
  packages/core/src/components/common/Navbar/navlinks.module.scss
  packages/core/src/components/navigation/Navbar/Navbar.tsx
  packages/core/src/components/navigation/Navbar/index.ts
  packages/core/src/components/navigation/NavbarLinks/NavbarLinks.tsx
  packages/core/src/components/navigation/NavbarLinks/index.ts
  packages/core/src/components/navigation/NavbarSlider/NavbarSlider.tsx
  packages/core/src/components/navigation/NavbarSlider/index.ts
  packages/ui/src/components/molecules/NavbarLinks/styles.scss
  packages/ui/src/components/molecules/NavbarSlider/styles.scss
  packages/ui/src/components/organisms/Navbar/styles.scss
  packages/ui/src/styles/components.scss
Labels: evergreen

#1728 feat: Adds `Navbar` component
  apps/site/components/Navigation/NavbarLinksUsage.tsx
  apps/site/components/Navigation/NavbarSliderUsage.tsx
  apps/site/components/Navigation/NavbarUsage.tsx
  apps/site/components/Search/SearchInputUsage.tsx
  apps/site/pages/components/features/navigation.mdx
  apps/site/pages/components/molecules/navbar-links.mdx
  apps/site/pages/components/molecules/navbar-slider.mdx
  apps/site/pages/components/organisms/navbar.mdx
  packages/components/src/hooks/index.ts
  packages/components/src/hooks/useScrollDirection.ts
  packages/components/src/hooks/useSearch.ts
  packages/components/src/index.ts
  packages/components/src/molecules/NavbarLinks/NavbarLinks.tsx
  packages/components/src/molecules/NavbarLinks/NavbarLinksList.tsx
  packages/components/src/molecules/NavbarLinks/NavbarLinksListItem.tsx
  packages/components/src/molecules/NavbarLinks/index.ts
  packages/components/src/molecules/NavbarSlider/NavbarSlider.tsx
  packages/components/src/molecules/NavbarSlider/NavbarSliderContent.tsx
  packages/components/src/molecules/NavbarSlider/NavbarSliderFooter.tsx
  packages/components/src/molecules/NavbarSlider/NavbarSliderHeader.tsx
  packages/components/src/molecules/NavbarSlider/index.ts
  packages/components/src/organisms/Navbar/Navbar.tsx
  packages/components/src/organisms/Navbar/NavbarButtons.tsx
  packages/components/src/organisms/Navbar/NavbarHeader.tsx
  packages/components/src/organisms/Navbar/NavbarRow.tsx
  packages/components/src/organisms/Navbar/index.ts
  packages/core/src/Layout.tsx
  packages/core/src/components/common/Navbar/NavLinks.stories.mdx
  packages/core/src/components/common/Navbar/Navbar.stories.mdx
  packages/core/src/components/common/Navbar/NavbarSlider.stories.mdx
  packages/core/src/components/common/Navbar/index.ts
  packages/core/src/components/common/Navbar/navlinks.module.scss
  packages/core/src/components/navigation/Navbar/Navbar.tsx
  packages/core/src/components/navigation/Navbar/index.ts
  packages/core/src/components/navigation/NavbarLinks/NavbarLinks.tsx
  packages/core/src/components/navigation/NavbarLinks/index.ts
  packages/core/src/components/navigation/NavbarSlider/NavbarSlider.tsx
  packages/core/src/components/navigation/NavbarSlider/index.ts
  packages/ui/src/components/molecules/NavbarLinks/styles.scss
  packages/ui/src/components/molecules/NavbarSlider/styles.scss
  packages/ui/src/components/organisms/Navbar/styles.scss
  packages/ui/src/styles/components.scss
Labels: evergreen
