Repository vtex/faststore, pull requests merged in 2023-02, with the labels that each got.

#1620 Feat: Adds `ProductTitle` component
  apps/site/pages/components/molecules/product-title.mdx
  apps/site/pages/custom-nextra.css
  packages/api/src/platforms/vtex/clients/search/index.ts
  packages/api/src/platforms/vtex/clients/sp/index.ts
  packages/components/src/atoms/Button/Button.tsx
  packages/components/src/index.ts
  packages/components/src/molecules/Alert/Alert.tsx
  packages/components/src/molecules/BuyButton/BuyButton.tsx
  packages/components/src/molecules/IconButton/IconButton.tsx
  packages/components/src/molecules/InputField/InputField.tsx
  packages/components/src/molecules/ProductTitle/ProductTitle.tsx
  packages/components/src/molecules/ProductTitle/index.tsx
  packages/components/src/molecules/QuantitySelector/QuantitySelector.tsx
  packages/components/src/molecules/Rating/Rating.tsx
  packages/components/src/organisms/PriceRange/PriceRange.tsx
  packages/ui/src/components/molecules/Carousel/Carousel.tsx
  packages/ui/src/components/molecules/ProductTitle/styles.scss
  packages/ui/src/index.ts
  packages/ui/src/styles/components.scss
Labels: ui-molecule

#1626 Feat: Adds `PaymentMethods` component
  apps/site/components/OverviewSection/OverviewSection.tsx
  apps/site/pages/components/organisms/payment-methods.mdx
  apps/site/pages/custom-nextra.css
  packages/components/src/assets/PaymentFlags/ApplePay.tsx
  packages/components/src/assets/PaymentFlags/Diners.tsx
  packages/components/src/assets/PaymentFlags/EloCard.tsx
  packages/components/src/assets/PaymentFlags/GooglePay.tsx
  packages/components/src/assets/PaymentFlags/Mastercard.tsx
  packages/components/src/assets/PaymentFlags/PayPal.tsx
  packages/components/src/assets/PaymentFlags/Stripe.tsx
  packages/components/src/assets/PaymentFlags/Visa.tsx
  packages/components/src/assets/PaymentFlags/index.ts
  packages/components/src/assets/index.ts
  packages/components/src/index.ts
  packages/components/src/organisms/PaymentMethods/PaymentMethods.tsx
  packages/components/src/organisms/PaymentMethods/index.tsx
  packages/ui/src/components/organisms/PaymentMethods/styles.scss
  packages/ui/src/index.ts
  packages/ui/src/styles/components.scss
Labels: ui-organism

#1623 Feat: Adds `ProductCard` component
  apps/site/components/OverviewSection/OverviewSection.tsx
  apps/site/mocks/product.ts
  apps/site/pages/components/atoms/button.mdx
  apps/site/pages/components/molecules/product-card.mdx
  apps/site/pages/components/molecules/rating.mdx
  packages/components/src/index.ts
  packages/components/src/molecules/ProductCard/ProductCard.tsx
  packages/components/src/molecules/ProductCard/ProductCardContent.tsx
  packages/components/src/molecules/ProductCard/ProductCardImage.tsx
  packages/components/src/molecules/ProductCard/index.tsx
  packages/ui/src/components/atoms/Button/styles.scss
  packages/ui/src/components/molecules/ProductCard/ProductCard.tsx
  packages/ui/src/components/molecules/ProductCard/ProductCardActions.tsx
  packages/ui/src/components/molecules/ProductCard/ProductCardContent.tsx
  packages/ui/src/components/molecules/ProductCard/styles.scss
  packages/ui/src/components/molecules/Rating/styles.scss
  packages/ui/src/index.ts
  packages/ui/src/styles/components.scss
Labels: ui-molecule

#1630 Feat: Adds Global tokens doc pages
  apps/site/components/OverviewSection/OverviewSection.tsx
  apps/site/components/OverviewSection/OverviewSectionItem.tsx
  apps/site/components/OverviewSection/overview-section.module.css
  apps/site/components/SectionItem/SectionItem.tsx
  apps/site/components/SectionItem/SectionList.tsx
  apps/site/components/SectionItem/section-item.module.css
  apps/site/components/Tokens/TokenColor.tsx
  apps/site/components/Tokens/TokenColors.tsx
  apps/site/components/Tokens/TokenDivider.tsx
  apps/site/components/Tokens/TokenTable.tsx
  apps/site/components/Tokens/Typeset.tsx
  apps/site/components/Tokens/index.ts
  apps/site/components/Tokens/token-colors.module.css
  apps/site/components/Tokens/token-table.module.css
  apps/site/components/Tokens/typeset.module.css
  apps/site/pages/custom-nextra.css
  apps/site/pages/docs/_meta.json
  apps/site/pages/docs/global-tokens/colors.mdx
  apps/site/pages/docs/global-tokens/grid-and-layout.mdx
  apps/site/pages/docs/global-tokens/interactive-controls.mdx
  apps/site/pages/docs/global-tokens/refinements.mdx
  apps/site/pages/docs/global-tokens/spacing.mdx
  apps/site/pages/docs/global-tokens/typography.mdx
Labels: documentation

#1636 Feat: theming docs
  apps/site/components/SectionItem/SectionList.tsx
  apps/site/components/SectionItem/section-item.module.css
  apps/site/pages/_meta.json
  apps/site/pages/custom-nextra.css
  apps/site/pages/docs/_meta.json
  apps/site/pages/docs/brandless.mdx
  apps/site/pages/docs/customizing.mdx
  apps/site/pages/docs/themes/midnight.mdx
  apps/site/pages/docs/themes/soft-blue.mdx
Labels: documentation

#1640 Feat: Adds `SearchProductCard` component
  apps/site/pages/components/molecules/product-card.mdx
  apps/site/pages/components/molecules/search-product-card.mdx
  packages/components/src/atoms/Price/Price.tsx
  packages/components/src/index.ts
  packages/components/src/molecules/ProductCard/ProductCardContent.tsx
  packages/components/src/molecules/SearchProductCard/SearchProductCard.tsx
  packages/components/src/molecules/SearchProductCard/SearchProductCardContent.tsx
  packages/components/src/molecules/SearchProductCard/SearchProductCardImage.tsx
  packages/components/src/molecules/SearchProductCard/index.ts
  packages/core/src/components/search/SearchProductCard/SearchProductCard.tsx
  packages/core/src/components/search/search.module.scss
  packages/ui/src/components/molecules/SearchProductCard/styles.scss
  packages/ui/src/styles/components.scss
Labels: documentation, ui-molecule

#1645 docs: Adds `Icon` component page
  apps/site/components/Icon/Icon.tsx
  apps/site/components/Icon/IconList.tsx
  apps/site/components/Icon/icon.module.css
  apps/site/components/Icon/index.ts
  apps/site/pages/components/atoms/icon.mdx
  apps/site/pages/docs/_meta.json
  apps/site/pages/docs/icons.mdx
Labels: documentation
